.customers-navbelow {
    margin:1rem;
}

.customers-component{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.customers-component input{
    width:60vw;
    height: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 1px solid black;
}

.add-customer-button{
    width:25vw;
    height:3vh;
    border-radius: 10px;
    border:1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.add-customer-button:hover{
    background-color: black;
}