.cart-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.cart-item{
    display: flex;
    flex-direction: column;
    margin:1rem;
    /* width: 25vw; */
}

.cart-item:hover{
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}

.cart-page h1{
    margin:1rem;
}

.cart-page p{
    margin:1rem;
}