.login-navbelow{
    display: flex;
    justify-content: center;
    align-items: center;
    height:90vh;
    width:100vw;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width:50vw;
    background-color: #db8e1a;
    border-radius: 20px;
}

.login-heading{
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50vw;
    height:20vh;
}

input{
    width:40vw;
    height:4vh;
    padding-left:10px;
    font-size: 1rem;
}

.login-button{
    width:10vw;
    height:3.5vh;
    font-size: 1rem;
    margin-top:10px;
}