.signup{
    height:100vh;
    width:100vw;
    /* background-color: #f2f3d2; */

}
.signup-navbelow{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height:90vh;
    width:100vw;
    margin-top:2rem;
}

.signup-container {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
    height: 30vh;
    width:80vw;
    background-color: #fc7405;
    border-radius: 20px;
    padding:1rem;
}

.signup-heading{
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-weight: 700;
}

.signup-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50vw;
    height:15vh;
}

.signup-form select{
    width:40vw;
    height:4vh;
    padding-left:10px;
    font-size: 1rem;
}

.signup-input{
    width:75vw;
    height:4vh;
    font-size: 1rem;
}

.signup-button{
    width:10vw;
    height:4vh;
    font-size: 1rem;
    margin-top:20px;
}

.error-notification {
    position: fixed;
    top: 0;
    width: 100%;
    /* height:3%; */
    background-color: #ff0202;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
    z-index: 1000;
    animation: slideDown 0.5s ease;
}

@keyframes slideDown {
    from {
        top: -50px;
    }
    to {
        top: 0;
    }
}


/* .otp-popup{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position:absolute;
    top:50%;
    height: 20vh;
    width:100vw;
    border-radius: 20px;
    padding:1rem;
}

.otp-popup-content{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    width: 0vw;
    background-color: #db8e1a;
    border-radius: 20px;
} */
.notification {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    border-radius: 5px;
}

.otp-input {
    /* margin-top: 10px; */
    /* padding: 8px; */
    font-size: 16px;
    height:4vh;
    width: 75vw;
}


@media screen and (max-width: 1124px) {
    .signup-button{
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 968px) {
    .signup-button{
        width:20vw;
    }
}

@media screen and (max-width: 450px){
    .signup-button{
        width:25vw;
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 375px){

}